* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
    margin: 3rem 5%;
    font-size: 1rem;
}

/* Navbar */
header {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 39%, rgba(1,104,109,1) 69%, rgba(15,31,33,0.36738445378151263) 86%);
    color: white;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header span {
    font-size: 1.5rem;
    margin-left: 10px;
    font-weight: bold;
}

nav li {
    display: inline;
    padding: 0 10px;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: #D95B02;
    text-decoration: underline;
    font-weight: bold;
}

.search-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    border: 1px solid #ccc;
    border-radius: 2rem;
    padding: 1rem 2rem;
    background-color: #ffffff;
}

.search-container input {
    border: none;
    outline: none;
    padding: 0.5rem;
    min-width: 210px;
}

.search-container div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
}

.search-container svg {
    display: block;
}

.search-container button {
    background-color: #027577;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: transform 0.1s;
}

.search-container input::placeholder {
    color: #69A2A9;
}

.search-container button:hover {
    transform: scale(1.1);
    background-color: #027577E5;
}

/* Main */

/*aside */
main {
   display: grid;
   grid-template-columns: repeat(12, 1fr);
   gap: 1rem;
   height: 80vh;
   background-image: url("./lisbon-portugal.jpg");
    background-size: cover;
    background-position: center;
    z-index: 0;

}

aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.vertical-line {
    width: 2.5px;
    height: 30%;
    background-color: #D95B02; 
}

.social-icons {
    display: inline-flex;
    flex-direction: column;
    gap: 3rem;
    height: 35%;
}

.fab {
    font-size: 1.5rem;
    color: #D95B02;
}

/*section */

#main-section {
    grid-column: 3/ span 6;
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 90%;
    gap: 3rem;
    z-index: 1;
}

#main-section h1 {
    font-size: 4rem;
    font-weight: bolder;
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
    padding: 1rem;
}


#main-section p {
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 1.7rem;
    color: white;
    line-height: 1.5;
     border-radius: 0.5rem;
     padding: 1rem;
     
}

#main-section button {
    background-color: #027577;
    color: white;
    border: none;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    cursor: pointer;
    font-weight: 800;
    transition: transform 0.2s;
    transform: scale(1);
}

#main-section button:hover {
    background-color: #027577;
    transform: scale(1.1);
}

/* About template*/

#about-us {
    grid-column: 3 / span 9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
    color: white
}

#about-us h1 {
    font-size: 4rem;
    font-weight: bolder;
    padding: 1rem;
}

#about-us p {
    font-size: 1.2rem;
    line-height: 1.2;
    background-color: rgba(255, 255, 255, 0.7);
    color: black;
    border-radius: 1rem;
    padding: 1rem;
}

#team {
    grid-column: 2 / span 10;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

#team h2 {
    font-size: 3rem;
    font-weight: bolder;
    color : white;
}

.card {
    background-color: #f5f5f5;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 50%;
}

.card p {
    line-height: 1.2;
}

.fa-solid {
    float: left;
    margin-right: 0.5rem;
}

.btn {
    background-color: #027CD2;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    margin-top: 1rem;
    font-weight: 800;
    text-align: center;
}

.btn:hover {
    transform: scale(1.1);
}

/* for contact us */

 #contact-us {
    grid-column: span 11;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

#contact-us > div {
    background-color: rgb(8, 54, 22, 0.5);
    padding: 1rem;
    border-radius: 1rem;
}

#contact-us h1 {
    font-size: 4rem;
    font-weight: bolder;
} 

#contact-us p {
    margin-top: 2rem;
    font-size: 1.5rem;
    padding: 1rem;
}

#contact-form {
    display: flex;
    flex-direction: column;
    gap: 1rem; 
    height: 45%;
    background-color: rgb(8, 54, 22, 0.5);
    padding: 1rem;
    color: white;
    width: 50%;
    border-radius: 1rem;
}

input[type="text"], input[type="email"], textarea {
    border: none;
    outline: none;
    width: 100%;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
}

textarea {
    height: 9vh;
}

button[type="submit"] {
    background-color: #027577;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    font-weight: 800;
    width: 100%;
}

#contact-form button[type="submit"]:hover {
    background-color: #027577E5;
}