* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
    margin: 3rem 5%;
    font-size: 1rem;
}

/* Navbar */
header {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 39%, rgba(1,104,109,1) 69%, rgba(15,31,33,0.36738445378151263) 86%);
    color: white;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header span {
    font-size: 1.5rem;
    margin-left: 10px;
    font-weight: bold;
}

nav li {
    display: inline;
    padding: 0 10px;
}

nav a {
    color: white;
    text-decoration: none;
}

.search-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    border: 1px solid #ccc;
    border-radius: 2rem;
    padding: 1rem 2rem;
    background-color: white;
}

.search-container input {
    border: none;
    outline: none;
    padding: 0.5rem;
    width: 14rem;
}

.search-container div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
}

.search-container svg {
    display: block;
}

.search-container button {
    background-color: #027577;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

.search-container input::placeholder {
    color: #69A2A9;
}

/* Main content */
main {
    background-image: url("./lisbon-portugal.jpg");
    height: 83vh;
    background-size: cover;
    background-position: center;
    position: absolute;
    z-index: 0;
    width: 90vw;
}
aside {
    background-color: white;
    /* padding: 1rem; */
    border-radius: 0.5rem;
    margin-top: 1rem;
    position: absolute;
    /* left: 7rem; */
    /* top: 5rem; */
    display: inline-flex;
    flex-direction: column;
    gap: 1rem;
    height:60vh;
    width: 2vw;
    align-items: center;
    justify-content: space-between;

}

.vertical-line {
    display: inline-block;
    width: 2px; /* Largeur de la ligne */
    height: 30%; /* Hauteur de la ligne */
    background-color: rgb(220, 37, 37); /* Couleur de la ligne */
}
h1 {
    font-size: 4rem;
    color: white;
    font-weight: bolder;
}

section {
    display: inline-block;
    position: relative;
    top: 7rem;
    left: 6rem;
    z-index: 2;
}

section p {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 1rem;
    border-radius: 0.5rem;
    margin-top: 1rem;
    display: inline-block;
    font-size: 1.5rem;
}

main button {
    
    background-color: #017578BF;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    margin-top: 1rem;
    font-weight: 800;
}

main button:hover {
    background-color: #027577;
}

